body {
	margin: 0;
	padding: 0;
	height: width;
	background: black;
	
}

#container {
	/*border: 10px solid black;*/
	/*float: left;*/
	width: 95%;
	margin: 0 auto;

}

.blox {
	width: 5vw;
	height: 5vw;
	border: 3px solid black;
	background: yellow;
	float: left;
}

.bloxHover {
	background: blue;
}